{% load i18n %}
<style>
#jafeed_widget {
	display:none;
	font-size:130%;
	padding:0.5em;
}
</style>
<script type="text/javascript">
function hide_widget() {
	$('#jafeed_widget').hide();
}
</script>
<div id="jafeed_widget">
	<span id="jafeed_num_posts" class="label label-primary" style="font-weight:bold;font-size:110%">0</span> 
	{% trans "new posts available" %} 
	<a href="javascript:self.location.reload()" class="btn btn-default">
		<i class="fa fa-refresh" style="font-size:130%;color:green"></i>&nbsp;&nbsp;{% trans "Refresh" %}
	</a>
	<a href="javascript:hide_widget()" class="btn btn-default">
		<i class="fa fa-close" style="font-size:140%;color:firebrick"></i>
	</a>
</div>